.vis-react {
  width: 65rem;
  height: 40rem;
  border: none;
  padding: 2rem;
  display: block;
  margin: 0 auto;
}
.vis-react-title {
  display: inline-block;
  width: auto;
  text-align: left;
  float: none;
  overflow: hidden;
}
.vis-react-toolbar {
  display: inline-block;
  width: 45%;
  text-align: right;
  float: right;
  margin-top: 1.2rem;
}
.group-circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  display: table-cell;
}
.group-rectangle {
  width: 0.4rem;
  height: 0.4rem;
  display: table-cell;
}
.group-pentagon {
  width: 0.9rem;
  height: 0.9rem;
  background-size: 0.9rem 0.9rem;
  background-repeat: no-repeat;
  display: table-cell;
  background-image: url('./images/group-unknown.png');
}
